html {
  height: 100%;
  font-size:14px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  /* Typography */
  font-family: 'PT serif', serif;

  /* Visual */
  color: #444444;

}

.Main {
  /* Box model */
  height: 100%;
  width: 100%;
}

/**** Header ****/
.Header {
  /* Box model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: .4rem 2rem;

  /* Typography */
  font-family: 'Montserrat', sans-serif;

  /* Visual */
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.Logo {
  /* Typography */
  font-size: 1.6rem;
  color: #1A4875;
}

/* Navigation */

.Navigation {
/* Box model */

/* Typography */

/* Visual */
}





.Navigation__link {
  /* Visual */
  color: #444444;
  text-decoration: none;
}
.Navigation ul {
    background-color: #E84545;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
  }
  .Navigation li {
    border-bottom: 2px solid #53354A;
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }
  .Navigation #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  .Navigation .label-toggle {
    background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }

/**** Section ****/
.Section {
  /* Box model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
}

.Section--introduction {
  background-color: #ffffff;
}

.Section--team {
  /* Visual */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../img/background-team.jpg');
}

.Section--team .Section__title {
  color: #FFFFFF;
}

.Section__title {
  /* Box model */
  margin: 0;
  margin-bottom: 2rem;

  /* Typography */
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;

  /* Visual */
  color: #1A4875;
}

.Section__img {
  margin: .3rem 3rem 0;
  flex: 1.2;
}

.Section__img img {
  max-width: 100%;
  height: auto;
}

.Section__desc {
  /* Box model */
  min-width: 26rem;
  max-width: 40rem;
  flex: 1.8;

  /* Typography */
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6;
}

.Section__button {

}

.Section__article {

}

/* Hero unit */
.Hero-unit {
  /* Box model */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 2rem 4rem;

  /* Visual */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #ffffff;
  background-image:linear-gradient(0deg,rgba(0,0,0,0.9),rgba(0,0,0,0)),url(../img/article-image.jpg);
}

.Hero-unit__title {
  /* Box model */
  margin: 0;
  min-width: 20rem;
  max-width: 30rem;

  /* Typography */
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.Hero-unit__desc {
  /* Box model */
  min-width: 20rem;
  max-width: 30rem;

  /* Typography */
  font-size: 1.2rem;
}

.Hero-unit__link {
  color: #ffffff;
  text-decoration: none;
}

/**** Articles ****/
.Container__article {
  /* Box model */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  /* Visual */
  color: #444444;
}

.Section__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Biography {
  /* Box model */
  flex: 0 1 25em;
  margin: 2rem;
  padding: .4rem 1.4rem;

  /* Visual */
  background-color: #ffffff;
}

.Biography:last-child {
  margin: 2rem 2rem 0 2rem;
}

.Biography__figure {

}

.Biography__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.Biography__desc {
  text-align: justify;
  line-height: 1.4;
}

/**** Boutons ****/
.Button {
  font-size: .9rem;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  border: 2px solid #1A4875;
  text-decoration: none;
  padding: 1rem;
  margin-top: 2rem;
  color: #1A4875;
}

.desktop {
  display: none;
}

/**** Footer ****/
.Footer {

}

@media (min-width: 26em){

  html {
    font-size: 16px;
  }

  .Section {
    padding: 10rem 6rem;
  }

  .Hero-unit {
    text-align: center;
    padding: 0 2rem 4rem;
  }

  .Hero-unit__desc {
    text-align: justify;
    line-height: 1.8rem;
  }

  .Biography:last-child {
    margin: 2rem;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .Section__row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  #menu-toggle {display: none;}

  .label-toggle {display: none;}

  .Navigation__list {
    /* Box model */
    display: flex;
    list-style: none;
    flex-direction: row;
    visibility: visible;;
  }

  .Navigation__item {
    /* Box model */
    margin-left: 2rem;

    /* Typograhpy */
    font-size: .9rem;

    /* Visual */
    text-transform: uppercase;
  }

  .Navigation ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
  }
.Navigation ul a {
    color: #E84545;
    text-decoration: none;
    transition: all .5s ease;
  }
  .Navigation ul a:hover {
    color: #903749;
  }
  .Navigation li {
    display: inline-block;
  }
  .Navigation #menu-toggle {
    display: none;
  }
  .Navigation .label-toggle {
    display: none;
  }

}
